@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-title {
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Fjalla One';
  margin:2px;
  padding:2px;
}

.horizontal-line {
  width:100%;
  height: 1px;
  background-color:black;
}

.navigation-container {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:flex-start;
  align-content:flex-start;
}

.nav-item {
  color:black;
  margin:2px;
}

.search-container {
  margin:5px;
}

.account {
  margin:10px;
}

.cart {
  display:flex;
  justify-content:flex-end;
  align-content:flex-end;
  align-items:flex-end;
  margin-right:40px;
}

.cart-btn {
  width:20px;
  height:20px;
  border-radius:50%;
  border:1px solid black;
  background-color:white;
  font-size:10px;
}

.check-btn{
  border-radius:10px; 
  background-color:transparent; 
  margin:10px;
  padding:4px;
}

.flexbox-container {
  display:flex;
  flex-direction:row;
}


.product-image-title {
  color:white;
  font-size: 16px;
  width:70px;
}

.gurantees-container {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-content:center;
  align-items:center;
  margin:6px;
}

.gurantees-item{
  display:flex;
  flex-direction:column;
  margin-right:40px;
  padding:5px;
}

.categories-container {
  display:flex;
}

.categories-line{
  width:200px;
  height:2px;
  background-color:black;
  margin:10px;
}

.electronics-item-container, .jewelery-item-container, .mens-clothing-item-container, .womens-clothing-item-container{
  border-radius:2px;
  border:.5px solid black;
  font-weight:bold;
  margin:20px;
  padding:20px;
}

.shopPage-img-container {
  max-width:100%;
  height:auto;
}

.products-container {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-start;
  align-content:flex-start; 
  flex-wrap:wrap;
  /* background-color:#d3d3d3; */
  border: solid black 1px;
  margin:10px;
  padding:15px;
 }

 .product-title {
  margin:5px;
  height:160px;
  width:180px;
  font-family: 'Fjalla One', sans-serif;
  color:#374254;
 }

 .text-container{
  display:grid;
  font-family: 'Fjalla One', sans-serif;
 }

 .product {
  margin:5px;
  padding:5px;
 }
 
 .image-title{
  display:flex;
  justify-content:center;
  align-items:center;
  align-content:flex-start;
  color:white;
  font-size: 24px;
 }

 .shop-now-btn-container {
  margin:5px;
  radius:1px solid black;
 }

  .product-image-container {
    display:flex;
    margin:10px;
    padding:15px;
    width:30px;
    height:270px;
    border-radius:10px;
  }

 .flex-container{
  display:flex;
  margin:5px;
  padding:5px;
 }

.add-to-cart-btn {
  margin:10px;
  padding:2px;
  border-radius:10px;
  font-size: 14px;
  height: 30px;
  width: 110px;
  background-color:lightgray;
}

 /* ------------ CHECKOUT ------------ */
 .cart-nav-container {
  display:flex;
  flex-direction:row;
 }

 .cart-nav-container {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    height:40px;
    display:inline-block;
}

 .cart-nav-container ul {
    list-style-type:none;
    margin:0px;
    padding:0;
    width:100%;
 }


 .cart-nav-container li {
    margin:0px;
    padding:10px;
    text-decoration:none;
    font-weight:bold;
    color:black;
    float:left;

 }

 /* .cart-nav-container li a:hover {
    color:#ffffff;
    background-color: purple;
 } */

 .checkout-line {
    width:300px;
    height:1px;
    background-color:black;
    margin:10px;
 }

 .checkout-btn {
  width:300px;
  background-color:black;
  height:30px;
  border-radius:5px;
  color:white;
 }

 .footer {
    background-color:#374254;
    color:white;
 }

 .columns-container {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
 }

 .column1-container, .column2-container, .column3-container {
    display:flex;
    flex-direction:column;
    margin:10px;
 }

 .footer-item {
    background-color:transparent;
 }

 .socialMedia-container {
    display:flex;
    flex-direction:row;
  
 }

 .shipping-method-container {
    border: 1px solid black;
    border-radius: 15px;
    width: 300px;
    margin:10px;
    padding:15px;
 }

 .cart-title {
    margin:5px;
    height:40px;
    width:300px;
    font-weight:bold;
 }


 .categories-title-line{
    background-color:black;
    height:1px;
    width:200px;
    margin:10px;
 }

 .categories-container{
  display:flex;
  flex-direction:row;
  align-content:flex-start;
  align-items:flex-start;
  justify-content: flex-start;
  padding:40px;
  margin:10px;
 }

 .categories-item-container{
    width:400px;
    height:300px;
    background-color:#374254;
    margin:10px;
    border-radius:10px;
    color:white;
    margin-bottom:80px;
 }

 .item-container {
  margin:10px;
  font-family: 'Fjalla One', sans-serif;
 }

 .categories-item-banner{
  width:200px;
  height:30px;
  background-color:black;
  opacity:50%;
  color:white;
 }
 